<div class="Rtable Rtable--2cols Rtable--collapse desktop">

	<!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--head ">
    <span class="item">
      <p>Style</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--head">
    <span class="item">
      <p>Ability</p>
    </span>
  </li>

	<!-- ROW 1 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title ranged">
    <span class="item">
      <p>Ranged</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell ranged">
    <span class="item">
      <img src="/assets/img/game-icon/ability/ranged/greater_dazing_shot.png"/>
      <p>Greater Dazing Shot</p>
    </span>
  </li>

	<!-- ROW 3 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title defence">
    <span class="item">
      <p>Defence</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/debilitate.png"/>
      <p>Debilitate</p>
    </span>
  </li>

	<!-- ROW 4 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title constitution">
    <span class="item">
      <p>Constitution</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell constitution">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/storm_shards.png"/>
      <p>Storm Shards</p>
    </span>
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/shatter.png"/>
      <p>Shatter</p>
    </span>
  </li>

</div>
