<div class="Rtable Rtable--4cols Rtable--collapse desktop">

  <!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--25 Rtable-cell--head ">
    <span class="item">
      <p>Ability</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--75  Rtable-cell--head">
    <span class="item">
      <p>Explanation/Use</p>
    </span>
  </li>

  <!-- ROW 1 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--25 Rtable-cell--title ranged">
    <span class="item">
      <img src="/assets/img/game-icon/ability/ranged/incendiary_shot.png"/>
      <p>Incendiary Shot</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--75 ranged">
    <span>
      <p>Incendiary is used to clear hordes of mobs (SW/P5 Telos/Vits/Kalphites).</p>
    </span>
  </li>

  <!-- ROW 2 -->

  <!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--25 Rtable-cell--title magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/tsunami.png"/>
      <p>Tsunami</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--75 magic">
    <span>
      <p>Tsunami is used to clear hordes of mobs (SW/P5 Telos/Vits/Kalphites).</p>
    </span>
  </li>

  <!-- ROW 3 -->

  <!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--25 Rtable-cell--title defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/revenge.png"/>
      <p>Revenge</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--75 defence">
    <span>
      <p>Revenge is used to deal high DPS, it’s great when lots of small mobs attack you.</p>
    </span>
  </li>

  <!-- ROW 4 -->

  <!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--25 Rtable-cell--title constitution">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/reprisal.png"/>
      <p>Reprisal</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--75 constitution">
    <span>
      <p>Reprisal is used to deal high DPS to a single target in situations where you take large type-less damage.</p>
    </span>
  </li>

</div>
