<div class="Rtable Rtable--3cols Rtable--collapse desktop">

	<!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--33 Rtable-cell--head ">
    <span class="item">
      <p>Style</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--66  Rtable-cell--head">
    <span class="item">
      <p>Ability</p>
    </span>
  </li>

	<!-- ROW 1 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title melee">
    <span class="item">
      <p>Melee</p>
    </span>
  </li>
	<!-- col 1 -->
  <li class="Rtable-cell melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/backhand.png"/>
      <p>Backhand</p>
    </span>
  </li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/ability/melee/forceful_backhand.png"/>
			<p>Forceful Backhand</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title ranged">
    <span class="item">
      <p>Ranged</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell ranged">
    <span class="item">
      <img src="/assets/img/game-icon/ability/ranged/binding_shot.png"/>
      <p>Binding Shot</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell ranged">
    <span class="item">
      <img src="/assets/img/game-icon/ability/ranged/tight_bindings.png"/>
      <p>Tight Bindings</p>
    </span>
  </li>

	<!-- ROW 3 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title magic">
    <span class="item">
      <p>Magic</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/impact.png"/>
      <p>Impact</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/deep_impact.png"/>
      <p>Deep Impact</p>
    </span>
  </li>

</div>
