<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/item-use.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/weapon/special/elite-enhanced-excalibur.png"/>
            <a href="{% include url/wiki %}/enhanced_excalibur">
                Elite Enhanced Excalibur
            </a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Heals 20% (enhanced) and 40% (elite) of maximum lifepoints over 20 seconds.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Use in all combat situations you require healing.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Complete the hard or elite Seers' Village Achievements.</p>
		</span>
    </li>
    
    <!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/inventory/ancient-elven-ritual-shard.png"/>
            <a href="{% include url/wiki %}/ancient_elven_ritual_shard">
                Ancient Elven Ritual Shard
            </a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
                Esentailly the Excalibur of prayer: restoring 37.5% of total prayer points over a short time.
            </p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
                Bring whenever you are using prayer and require a method of restoration.
            </p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
                Kill creatures from the Lost Grove (or buy off the G.E).
            </p>
		</span>
	</li>

</div>
