<form class="field">

<div class="control">

<input class="input" type="text" placeholder="Enter your defence, ranged or magic level..." id="playerLevel">

<div class="section">
<button class="button" type="button" onclick="getMelee();">Melee</button>
<button class="button" type="button" onclick="getRanged();">Ranged</button>
<button class="button" type="button" onclick="getMagic();">Magic</button>
</div>

<p id="output"></p>

</div>

</form>

<style>
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #102C3A;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #102C3A;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #102C3A;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: black;
}
form .button {
    display: inline-block !important;
}
</style>