<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/item-use.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/ring/asylum_surgeons_ring.png"/>
			<p>Asylum Surgeon’s (i)</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Best DPS ring.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Everywhere.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				“Broken Home” Quest, followed
				by the two challenges afterwards.
				Imbue with 10,000 Teci.
			</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/ring/ring_of_vigour.png"/>
			<p>Ring of Vigour</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Ring switch for casting Ultimate Abilities
(Saves adrenaline).</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Everywhere.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Buy for 50,000 Dungeoneering Tokens<br>
				(500,000xp in Dungeoneering).
			</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/ring/ring_of_death.png"/>
			<p>Ring of Death (i)</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Reduces death cost and prevents familiar
				despawn upon death. Provides a chance to
				gain 5% adrenaline when killing a target.
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>With Super
Saradomin Brew.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
			Buy off the G.E OR Craft<br>
			(Costs 300 Reaper Points).
			Imbue with 15,000 Teci.
			</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/ring/hazelmeres_signet_ring.png"/>
			<p>Hazelmere’s Signet Ring (i)</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Supposedly does a thing (Increases drop chances).</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>If you’re a billionaire, (Everywhere).</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Buy off the G.E.<br>Imbue with 10,000 Teci.</p>
		</span>
	</li>

	<!-- ROW 5 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/ring/luck_of_the_dwarves.png"/>
			<p>Luck of the Dwarves (i)</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Supposedly does a thing (Increases drop chances).</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>For the less fortunate, (Everywhere).</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Buy off the G.E.<br>
				Imbue with 7,500 Teci.
			</p>
		</span>
	</li>

</div>
