<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>Spell</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30 Rtable-cell--head">
		<span>
			<p>Runes</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--35 Rtable-cell--head">
		<span>
			<p>Explanation/Use</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--15 Rtable-cell--head">
		<span>
			<p>Spellbook</p>
		</span>
	</li>

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span class="item">
			<img src="/assets/img/game-icon/spell/ancient/blood_barrage.png"/>
			<p>Blood Barrage</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30">
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/fire_rune.png"/>
			<p>5 Fire</p>
		</span>
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/blood_rune.png"/>
			<p>2 Blood</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--35">
		<span>
			<p>
				Primary DPS spell at high enrage Telos or when using the Ancient Spellbook.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>Ancient</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span class="item">
			<img src="/assets/img/game-icon/spell/ancient/ice_barrage.png"/>
			<p>Ice Barrage</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30">
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/water_rune.png"/>
			<p>5 Water</p>
		</span>
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/blood_rune.png"/>
			<p>2 Blood</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--35">
		<span>
			<p>
				DPS spell that also stops a creature moving (Useful for boss minions).
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>Ancient</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span class="item">
			<img src="/assets/img/game-icon/spell/seren/intercept.png"/>
			<p>Intercept</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30">
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/earth_rune.png"/>
			<p>2 Earth</p>
		</span>
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/air_rune.png"/>
			<p>3 Air</p>
		</span>
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/soul_rune.png"/>
			<p>2 Soul</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--35">
		<span>
			<p>
				Used to bypass certain mechanics at bosses by intercepting someone. Use with barricade to protect both team members.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>
				Ancient<br>
				(seren)
			</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span class="item">
			<img src="/assets/img/game-icon/spell/lunar/disruption_shield.png"/>
			<p>Disruption Shield</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30">
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/blood_rune.png"/>
			<p>3 Blood</p>
		</span>
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/astral_rune.png"/>
			<p>3 Astral</p>
		</span>
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/body_rune.png"/>
			<p>10 Body</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--35">
		<span>
			<p>
				Nullifies the next melee, magic, ranged or soft-typeless hit the player takes. Requires 290,000 Produce Ponts at Livid Farm to unlock.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>
				Lunar
			</p>
		</span>
	</li>

	<!-- ROW 5 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span class="item">
			<img src="/assets/img/game-icon/spell/lunar/vengeance_group.png"/>
			<p>Vengeance Group</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30">
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/earth_rune.png"/>
			<p>11 Earth</p>
		</span>
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/astral_rune.png"/>
			<p>4 Astral</p>
		</span>
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/death_rune.png"/>
			<p>3 Death</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--35">
		<span>
			<p>
				Redirects 75% of an attacks' damage dealt to nearby team members back to the attacker.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>
				Lunar
			</p>
		</span>
	</li>

	<!-- ROW 6 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span class="item">
			<img src="/assets/img/game-icon/spell/seren/shield_dome.png"/>
			<p>Shield dome</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30">
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/water_rune.png"/>
			<p>3 Water</p>
		</span>
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/earth_rune.png"/>
			<p>3 Earth</p>
		</span>
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/soul_rune.png"/>
			<p>3 Soul</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--35">
		<span>
			<p>
				Used to replace other 50% damage reduction defensives at bosses such as Telos.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>
				Ancient<br>
				(seren)
			</p>
		</span>
	</li>

	<!-- ROW 7 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span class="item">
			<img src="/assets/img/game-icon/spell/normal/vulnerability.png"/>
			<p>Vulnerability</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30">
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/chaos_rune.png"/>
			<p>1 Chaos</p>
		</span>
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/soul_rune.png"/>
			<p>1 Soul</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--35">
		<span>
			<p>
				Vulnerability should be applied when using magic to cause the target to take an additional 10% damage from all attacks.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>Standard</p>
		</span>
	</li>

	<!-- ROW 8 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span class="item">
			<img src="/assets/img/game-icon/spell/spellbook_swap.png"/>
			<p>Spellbook Swap</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30">
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/law_rune.png"/>
			<p>1 Law</p>
		</span>
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/cosmic_rune.png"/>
			<p>2 Cosmic</p>
		</span>
		<span class="item">
			<img src="/assets/img/game-icon/item/rune/astral_rune.png"/>
			<p>3 Astral</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--35">
		<span>
			<p>
				Allows you to cast a spell out of a different spellbook for the next two minutes. Use where a dfferent spellbook may be required.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>Lunar and Ancient</p>
		</span>
	</li>

</div>
