<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/ability-unlock-order.html %}

	<!-- ROW 1 -->

  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/tuskas_wrath.png"/>
      <p>Tuska's Wrath</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <p>High</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Constitution</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>Deals extremely high damage to your active slayer task creature, usually resulting in an instant kill and therefore greatly speeding up tasks.</p>
    </span>
  </li>

</div>
