<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/ability-unlock-order.html %}

	<!-- ROW 1 -->

  <!-- col 1 -->
  <li class="Rtable-cell melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/greater_fury.png"/>
      <p>Greater Fury</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell melee">
    <span class="item">
      <p>Moderate</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell melee">
    <span>
      <p>Melee</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell melee">
    <span>
      <p>Converts regular Fury into a non-channeled version, dealing maximum damage.<br>
				 It is unlocked by defeating Verak Lith.</p>
    </span>
  </li>

  <!-- ROW 2 -->

	<!-- col 1 -->
  <li class="Rtable-cell melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/greater_barge.png"/>
      <p>Greater Barge</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell melee">
    <span class="item">
      <p>Moderate</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell melee">
    <span>
      <p>Melee</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell melee">
    <span>
      <p>Allows Barge to be combined with vaious basic abilities, causing them to apply a bleed.
				<br>It is unlocked by defeating Black Stone Dragon.</p>
    </span>
  </li>

  <!-- ROW 3 -->

	<!-- col 1 -->
  <li class="Rtable-cell melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/greater_flurry.png"/>
      <p>Greater Flurry</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell melee">
    <span class="item">
      <p>Moderate</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell melee">
    <span>
      <p>Melee</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell melee">
    <span>
      <p>Increases the damage of Flurry on single targets. All successful hits will reduce the cooldown of Berserk.
				<br>It is unlocked by defeating Astellarn.</p>
    </span>
  </li>

</div>
