<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/ability-unlock-order.html %}

	<!-- ROW 1 -->

  <!-- col 1 -->
  <li class="Rtable-cell ranged">
    <span class="item">
      <img src="/assets/img/game-icon/ability/ranged/corruption_shot.png"/>
      <p>Corruption Shot</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell ranged">
    <span class="item">
      <p>High</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell ranged">
    <span>
      <p>Ranged</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell ranged">
    <span>
      <p>A powerful ranged bleed attack.</p>
    </span>
  </li>

  <!-- ROW 2 -->

  <!-- col 1 -->
  <li class="Rtable-cell magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/corruption_blast.png"/>
      <p>Corruption Blast</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell magic">
    <span class="item">
      <p>High</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell magic">
    <span>
      <p>Magic</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell magic">
    <span>
      <p>A powerful magic bleed attack.</p>
    </span>
  </li>

  <!-- ROW 3 -->

  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/onslaught.png"/>
      <p>Onslaught</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <p>High</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Constitution</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>An extremely powerful ability which channels a players adrenaline and then health into large amounts of damage, with a damage cap of 30,000.</p>
    </span>
  </li>

	<!-- ROW 4 -->

  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/storm_shards.png"/>
			<p>Storm Shards</p>
		</span>
		<span class="item">
			<img src="/assets/img/game-icon/ability/constitution/shatter.png"/>
      <p>Shatter</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <p>Low</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Constitution</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>Stacks damage onto a target, which is then triggered to deal the damage when activating the Shatter ability. These abilities are unlcoked with a single codex together.</p>
    </span>
  </li>

</div>
