<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/ability-unlock-order.html %}

	<!-- ROW 1 -->

  <!-- col 1 -->
  <li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/greater_dazing_shot.png"/>
			<p>Greater Dazing Shot</p>
		</span>
    <span class="item">
      <img src="/assets/img/game-icon/ability/ranged/salt_the_wound.png"/>
      <p>Salt the Wound</p>
		</span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell ranged">
    <span class="item">
      <p>High</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell ranged">
    <span>
      <p>Ranged</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell ranged">
    <span>
      <p>Upgrades Dazing Shot to apply puncture damage, which is then applied when the Salt the Wound threshold ability is activated. Greater Dazing Shot is unlocked when purchasing Salt the Wound.</p>
    </span>
  </li>

  <!-- ROW 2 -->

  <!-- col 1 -->
  <li class="Rtable-cell melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/bladed_dive.png"/>
      <p>Bladed Dive</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell melee">
    <span class="item">
      <p>High</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell melee">
    <span>
      <p>Attack</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell melee">
    <span>
      <p>The melee equivelant of Surge and Escape that also deals damage to a target.</p>
    </span>
  </li>

	<!-- ROW 3 -->

  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sigil/kuradals_favour.png"/>
      <p>Kuradal's Favour</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <p>Moderate</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Constitution</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>When activated (for 30 seconds), all monsters killed in Kuradal's Dungeon will instantly respawn, but will not drop loot.</p>
    </span>
  </li>

	<!-- ROW 4 -->

  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sigil/aggression.png"/>
      <p>Aggression</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <p>Low</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Defence</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>When active, up to 8 monsters in a 5 tile radius of the player will become aggressive and attack the player, helping make Slayer more AFK.</p>
    </span>
  </li>

	<!-- ROW 5 -->

  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sigil/slayers_insight.png"/>
      <p>Slayer's Insight</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <p>Low</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Constitution</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>When activated (for 30 seconds), all slayer XP is increased by 10%.</p>
    </span>
  </li>

</div>
