<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/ability-unlock-order.html %}

	<!-- ROW 1 -->

  <!-- col 1 -->
  <li class="Rtable-cell magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/surge.png"/>
      <p>Double Surge</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell magic">
    <span class="item">
      <p>Moderate</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell magic">
    <span>
      <p>Low</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell magic">
    <span>
      <p>Allows the player to surge twice in a row. Can be created by combining 500 codex pages on the lectern on Anachronia, or purchased from the G.E.</p>
    </span>
  </li>

  <!-- ROW 2 -->

  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/reprisal.png"/>
      <p>Reprisal</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <p>Low</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Constitution</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>The player stores damage recieved over 6 seconds, and is able to unleash it. The Reprisal Codex is expensive and niche, and has few uses. It can be obtained from Telos, or the G.E.</p>
    </span>
  </li>

</div>
