<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/item-use.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/pocket/berserk_blood_essence.png"/>
			<p>Berserker Blood Essence</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Useful when you’re taking frequent hits and don’t require overload or brews.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Some PvM<br>
				(With Guthix Rest).
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Craftable after “River of Blood” Quest (One time gift from Vanescula).</p>
		</span>
	</li>

</div>
