<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/item-use.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/pocket/erethdors_grimoire.png"/>
			<p>Erethdor’s Grimoire</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Increases Critical Hit Chance by 12%, and increases maximum damage cap.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>PvM.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Kill Solak<br>
				(Or buy the token off the G.E).
			</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/pocket/illuminated_book_of_wisdom.png"/>
			<p>Book of Wisdom</p>
		</span>
		<span class="item">
			<img src="/assets/img/game-icon/item/pocket/illuminated_book_of_law.png"/>
			<p>Book of Law</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Increases DPS. If your target moves use wisdom, otherwise use law.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
		 		PvM (DPS Role)<br>
				(Or slayer when Uncharged).
		 </p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Begin the “Horror from the Deep” Quest, add four God Pages to a Damaged Book.</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/pocket/illuminated_book_of_chaos.png"/>
			<p>Illluminated Book of Chaos</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Cheaper alternative to
Saradomin’s Book of Wisdom.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
			 PvM (DPS Role)<br>
			 (Or slayer when Uncharged).
		 </p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Begin the “Horror from the Deep” Quest, add four God Pages to a Damaged Book.</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/pocket/illuminated_book_of_war.png"/>
			<p>Book of War</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
			 Increases Affinity by 3<br>
			 (Lowers targets’ defence).
		 </p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
			 PvM (Tank Role)<br>
			 (Or slayer when Uncharged).
		 </p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Begin the “Horror from the Deep” Quest, add four God Pages to a Damaged Book.</p>
		</span>
	</li>

</div>
