<div class="Rtable Rtable--5cols Rtable--collapse">

	<!-- TITLES -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Weapon Type</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Gizmo 1</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Components</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Gizmo 2</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Components</p>
		</span>
	</li>

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/shield.png"/>
			<p>Two-Handed</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/aftershock.png"/>
			<p>Aftershock 3</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>5 Ilujankan</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/precise.png"/>
			<p>Precise 3/4</p>
			<img src="/assets/img/game-icon/perk/equilibrium.png"/>
			<p>Equilibrium 2</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>5 Precise</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/shield.png"/>
			<p>Dual Wield</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/aftershock.png"/>
			<p>Aftershock 3</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>5 Ilujankan</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/precise.png"/>
			<p>Precise 3/4</p>
			<img src="/assets/img/game-icon/perk/equilibrium.png"/>
			<p>Equilibrium 2</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>5 Precise</p>
		</span>
	</li>

</div>
