<div class="Rtable Rtable--2cols Rtable--collapse">

	<!-- TITLES -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Perk</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Explanation/Use</p>
		</span>
	</li>

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/planted_feet.png"/>
			<p>Planted Feet</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Arguably one of the most common and useful switches, the Flanking perk extends the duration of Sunshine and Death's Swiftness abilities. This allows players additional time for casting threshold abilities and dealing more damage. This perk does not work on the Berserk ability.</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/flanking.png"/>
			<p>Flanking</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Replaces the stun effect of some abilities with a damage boost: Backhand, Forceful Backhand, Impact, Deep Impact, Binding Shot and Tight Bindings.</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/lunging.png"/>
			<p>Lunging</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Increases the base damage of some bleed abilities with a base damage boost, such as Dismember.</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/mobile.png"/>
			<p>Mobile</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>The mobile perk is used to reduce the cooldowns of some abilities at the cost of gaining no adrenaline. A weapon switch with mobile is commonly used before casting Bladed Dive.</p>
		</span>
	</li>

</div>
