<div class="Rtable Rtable--3cols Rtable--collapse">

	<!-- TITLES -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Weapon</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Gizmo 1</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Components</p>
		</span>
	</li>

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/cywir_wand.png"/>
			<p>Cywir Wand</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell magic">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/aftershock.png"/>
			<p>Aftershock 1</p>
			<img src="/assets/img/game-icon/perk/planted_feet.png"/>
			<p>Planted Feet</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell magic">
		<span>
			<p>3 Cywir</p>
			<p>2 Ilujankan</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/shadow_glaive.png"/>
			<p>Shadow Glaive</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell ranged">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/aftershock.png"/>
			<p>Aftershock 1</p>
			<img src="/assets/img/game-icon/perk/planted_feet.png"/>
			<p>Planted Feet</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span>
			<p>3 Cywir</p>
			<p>2 Ilujankan</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell hybrid">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/special/sunspear.png"/>
			<p>Sunspear</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell hybrid">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/aftershock.png"/>
			<p>Aftershock 1</p>
			<img src="/assets/img/game-icon/perk/planted_feet.png"/>
			<p>Planted Feet</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell hybrid">
		<span>
			<p>3 Cywir</p>
			<p>2 Ilujankan</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell hybrid">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/drygore_longsword.png"/>
			<p>T90 Off-hand<br>(Dry / Asc / Seis)</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell hybrid">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/flanking.png"/>
			<p>Flanking 3</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell hybrid">
		<span>
			<p>5 Clockwork</p>
		</span>
	</li>

	<!-- ROW 5 -->

	<!-- col 1 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/drygore_longsword.png"/>
			<p>Off-hand Drygore</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/flanking.png"/>
			<p>Lunging 3</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell melee">
		<span>
			<p>5 Avernic</p>
		</span>
	</li>

	<!-- ROW 6 -->

	<!-- col 1 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/special/enhanced_excalibur.png"/>
			<p>Enhanced Excalibur</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/mobile.png"/>
			<p>Mobile</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell melee">
		<span>
			<p>5 Clockwork</p>
		</span>
	</li>

</div>
