body {
	background: $dark-grey;
	background-image: $texture-dark;
}

header {
	width: 100%;
}

.logo {
	width: 350px;
	height: auto;
	margin: 0 auto;
	padding-top: 50px;
}

.heroImg {
	height: 550px;

	background-color: $dark-grey;
	background: $heroImg center;
	background-size: cover;
	background-repeat: no-repeat;

	border-color: $light-blue;
	border-style: solid;
	border-width: 0 0 5px 0;
	border-image: $border 90;
}

// RSDivider

.container-divider {
	position: relative;
}

.container-divider:after {
	background: url(https://www.runescape.com/img/rs3/section-divider.gif) repeat-x 0 0;
	bottom: -10px;
	content: '';
	height: 34px;
	left: 0;
	position: absolute;
	width: 100%;
}

.container-divider--wider {
	margin-bottom: 34px;
}

.container-divider--wider:after{
	left: -40px;
	width: 1000px;
}

@media (max-width: $mobile-horizontal){
	.logo {
		width: 220px;
		height: auto;
		margin: 0 auto;
		padding-top: 25px;
	}
	
	.heroImg {
		height: 400px;
	}
}
