<div class="Rtable Rtable--3cols Rtable--collapse desktop">

	<!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--head">
    <span>
      <p>Creature</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--head ">
    <span>
      <p>Combat XP</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell Rtable-cell--head">
    <span>
      <p>Guide</p>
    </span>
  </li>

  <!-- ROW 1 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/airut.png"/>
      <p>Airut</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Combat XP/H:<br>1,652,000xp</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=pWgGt6Aaasw" target="_blank" title="Jona Than’s Airut Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 2 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/crystal-shapeshifter.png"/>
      <p>Crystal Shapeshifter</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Combat XP/H:<br>1,481,933xp</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=pBo5P6QVj6I&feature=youtu.be&t=145" target="_blank" title="Jona Than’s Crystal Shapeshifter Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 3 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/abyssal-demon.png"/>
      <p>Abyssal Demon</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Combat XP/H:<br>1,346,880xp</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=1R554vC0uI0" target="_blank" title="Jona Than’s Abyssal Demon Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 4 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/moss-golem.png"/>
      <p>Moss Golem</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Combat XP/H:<br>1,327,500xp</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=zAuONRsYQio" target="_blank" title="Jona Than’s Moss Golem Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 5 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/hydrix-dragon.png"/>
      <p>Hydrix Dragon</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Combat XP/H:<br>962,056xp</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=SZeN2Nq65jQ" target="_blank" title="Jona Than’s Hydrix Dragon Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 6 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/ripper-demon.png"/>
      <p>Ripper Demon</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Combat XP/H:<br>898,352xp</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=tjavpOl_WNQ" target="_blank" title="Jona Than’s Ripper Demon Guide"><button>Video Guide</button></a>
    </span>
  </li>

</div>
