<div class="Rtable Rtable--3cols Rtable--collapse desktop">

	<!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--head">
    <span>
      <p>Creature</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--head ">
    <span>
      <p>Slayer XP</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell Rtable-cell--head">
    <span>
      <p>Guide</p>
    </span>
  </li>

  <!-- ROW 1 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/ripper-demon.png"/>
      <p>Ripper Demon</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Slayer XP/H:<br>1,132,144xp</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=tjavpOl_WNQ" target="_blank" title="Jona Than’s Ripper Demon Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 2 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/moss-golem.png"/>
      <p>Moss Golem</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Slayer XP/H:<br>1,083,600xp</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=zAuONRsYQio" target="_blank" title="Jona Than’s Moss Golem Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 3 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/hydrix-dragon.png"/>
      <p>Hydrix Dragon</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Slayer XP/H:<br>1,020,992xp</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=sWfd6O3V5Rc" target="_blank" title="Jona Than’s Hydrix Dragon Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 4 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/abyssal-demon.png"/>
      <p>Abyssal Demon</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Slayer XP/H:<br>815,011xp</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=1R554vC0uI0" target="_blank" title="Jona Than’s Abyssal Demon Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 5 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/manifest-shadow.png"/>
      <p>Shadow Creature</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Slayer XP/H:<br>798,870xp</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=fg-YupoPfR8" target="_blank" title="Jona Than’s Shadow Creature Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 6 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/kalgerion-demon.png"/>
      <p>Kalgerion Demon</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Slayer XP/H:<br>780,106xp</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=I_flosxfDbo" target="_blank" title="Jona Than’s Kalgerion Demon Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 7 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/lava-strykewyrm.png"/>
      <p>Lava Strykewyrm</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Slayer XP/H:<br>771,941xp</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=eXiG00g6gXg" target="_blank" title="Jona Than’s Lava Strykewyrm Guide"><button>Video Guide</button></a>
    </span>
  </li>

</div>
