<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/item-use.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/amulet/amulet_of_souls_(or).png"/>
			<p>Amulet of Souls (or)</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Best DPS + Tank amulet IF you have 100% Accuracy.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>PvM - At bosses you have 100% Hit Chance (Calculator).</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Buy or Craft an Amulet of Souls, then attach a Soul Ornament Kit.</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/amulet/reaper_necklace_(or).png"/>
			<p>Reaper Necklace (or)</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Best DPS amulet IF you don’t have 100% accuracy.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>PvM - At bosses you don’t have 100% Hit Chance.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Buy or Craft a Reaper Necklace, then attach a Reaper Ornament Kit.</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/amulet/amulet_of_zealots.png"/>
			<p>Amulet of Zealots</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Increases the boost of single stat-boosting prayers. Combine with Leech Curses.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Low level Bosses or Slayer Tasks.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Buy for 40,000 Dungeoneering Tokens<br>(400,000xp In Dungeoneering).</p>
		</span>
	</li>

</div>
