<div id="banner">
    
    <p>
       The content on this site is no longer regularly maintained. Visit our <a href="https://discord.gg/eMegRbr" target="_blank">Discord</a> for more information.
    </p>

</div>