<aside class="sidebar">

	<!-- Section 1 -->

	<section class="container mobile">

		<div class="title">

			<h1>Recent Changes</h1>

		</div>

		<div class="content">
			
			<!-- Display most recent post and it's excerpt -->
			{% if site.posts[0] != null %}
				{% for post in site.posts limit:1 %} <!-- Limit: only show first one -->
					<a href="{{ post.url }}">
						<h2>{{ post.title }}</h2>
					</a>
					<p>
						{{ post.excerpt }}
						<a href="{{ post.url }}">View update log...</a>
					</p>
				{% endfor %}
				{% else %}
					<p>Woops, no changes have been logged.</p> <!-- Fallback for no posts -->
			{% endif %}

			<!-- List 2nd to 5th most recent posts -->
			{% if site.posts[1] and site.posts[3] == null %}
				<h2>Older Updates</h2>
				{% for post in site.posts offset: 1 limit: 3 %}
					<ul>
						<li><a href="{{ post.url }}">{{ post.title }}</a></li>
					</ul>
				{% endfor %}
			{% endif %}

			<!-- Enable archive button if there are 4 or more posts -->
			{% if site.posts[3] %}
				<h2>Older Updates</h2>
				{% for post in site.posts offset: 1 limit: 3 %}
					<ul>
						<li><a href="{{ post.url }}">{{ post.title }}</a></li>
					</ul>
				{% endfor %}
				<button>button</button>
			{% endif %}

			<!-- <a href="./archive.html">Archive</a> Link to archive page for overflow -->

		</div>

	</section>

	<!-- Section 2 -->

	<section class="container desktop">

		<div class="title">

			<h1>Website Development</h1>

		</div>

		<div class="content">

			<img src="/assets/img/sidebar/invention.jpg"/>

			<p>
				Want to contribute to the website, report an issue or suggest an update? Contact us on our <a href="https://discordapp.com/invite/2tgwWap" target="_blank">Discord server</a>.
			</p>

			<p>
				Alternatively, check out our list of logged changes, updates and tasks on Trello.
			</p>

			<a href="https://trello.com/b/NW62Hhby/website" target="_blank"  rel="noopener">
					<button>View Dev Tasks</button>
			</a>

		</div>

	</section>

	<!-- Section 3 -->

	<section class="container desktop">

		<div class="title">

			<h1>Original PDF</h1>

		</div>

		<div class="content">

			<img src="/assets/img/sidebar/rspocketbook-pdf.jpg"/>

			<p>
				View the legacy PDF that started it all! This guide is no longer maintained,
				and was last updated July 13th, 2019.
			</p>

			<a href="https://guide.rspocketbook.com" target="_blank"  rel="noopener">
					<button>View Legacy Guide</button>
			</a>

		</div>

	</section>

</aside>
