<div class="Rtable Rtable--5cols Rtable--collapse">

	<!--TITLES-->

	<!-- Heading -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>Item</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10 Rtable-cell--head">
		<span>
			<p><img src="/assets/img/game-icon/skill/herblore.png"/>Level</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25 Rtable-cell--head">
		<span>
			<p>Explanation</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25 Rtable-cell--head">
		<span>
			<p>Use</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>How to Get</p>
		</span>
    </li>
    
    <!-- ROW 1 -->

    <!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/enhanced-replenishment-potion.png"/>
            <a href="{% include url/wiki %}/Enhanced_replenishment_potion">
                Enhanced Replenishment Potion
            </a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				90
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Restores 30% adrenaline and acts as a super restore.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Craft these to increase your doses of super adrenaline potion from 4 to 6.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
				Is unlocked with the replenishment potion.
			</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/replenishment-potion.png"/>
            <a href="{% include url/wiki %}/Replenishment_potion">
                Replenishment Potion
            </a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				87
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Restores 25% adrenaline and acts as a super restore.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Craft these to increase your doses of adrenaline potion from 4 to 6.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
				200,000 coins from Lady Meilyr.
			</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/super-adrenaline-potion.png"/>
            <a href="{% include url/wiki %}/Super_adrenaline_potion">
                Super Adrenaline Potion
            </a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				87
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Restores 30% adrenaline.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Craft these to enhance the effect of your adrenaline potions.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
				Add an adrenaline crystal to a 3-dose adrenaline potion.
			</p>
		</span>
    </li>

    <!-- ROW 4 -->
    
    <!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/adrenaline-potion.png"/>
            <a href="{% include url/wiki %}/Adrenaline_potion">
                Adrenaline Potion
            </a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				84
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Restores 25% adrenaline.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use to restore adrenaline after using an ultimate ability.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
				Craft with herblore (untradable).
			</p>
		</span>
	</li>

</div>