<div class="Rtable Rtable--5cols Rtable--collapse">

	<!--TITLES-->

	<!-- Heading -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>Item</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10 Rtable-cell--head">
		<span>
			<p><img src="/assets/img/game-icon/skill/herblore.png"/>Level</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25 Rtable-cell--head">
		<span>
			<p>Explanation</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25 Rtable-cell--head">
		<span>
			<p>Use</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>How to Get</p>
		</span>
	</li>

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell  Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/holy-overload-potion.png"/>
			<a href="{% include url/wiki %}/Holy_overload_potion">
				Holy Overload Potion
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				97
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Combines overload and prayer renewal to restore prayer over time.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Cheaper alternative to supremes, handy when not using a demon horn necklace.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>700,000 coins from <a href="{% include url/wiki %}/Lady_Meilyr">Lady Meilyr</a>.</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/searing-overload-potion.png"/>
			<a href="{% include url/wiki %}/Searing_overload_potion">
				Searing Overload Potion
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				97
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Combines overload and super antifire to protect from dragon breath.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Cheaper alternative to salves, handy for dragon and wyvern tasks.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>700,000 coins from <a href="{% include url/wiki %}/Lady_Meilyr">Lady Meilyr</a>.</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/aggroverload-potion.png"/>
			<a href="{% include url/wiki %}/Aggroverload_potion">
				Aggroverload
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				97
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Combines overload with aggression potion.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use on afk or lower level slayer tasks.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>1,000,000 coins from <a href="{% include url/wiki %}/Lady_Meilyr">Lady Meilyr</a>.</p>
		</span>
	</li>

</div>