<div class="Rtable Rtable--5cols Rtable--collapse">

	<!--TITLES-->

	<!-- Heading -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>Item</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10 Rtable-cell--head">
		<span>
			<p><img src="/assets/img/game-icon/skill/herblore.png"/>Level</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25 Rtable-cell--head">
		<span>
			<p>Explanation</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25 Rtable-cell--head">
		<span>
			<p>Use</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>How to Get</p>
		</span>
	</li>

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/elder-overload-salve.png"/>
			<a href="{% include url/wiki %}/elder_overload_salve">
				Elder Overload Salve
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				107
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Tier 3 all-in-one potion (Lv 99-120).
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use for all high level combat.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>1,500,000 coins from <a href="{% include url/wiki %}/Lady_Meilyr">Lady Meilyr</a>.</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/elder-overload-potion.png"/>
			<a href="{% include url/wiki %}/elder_overload_potion">
				Elder Overload Potion
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				106
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Tier 3 multi-stat boosting potion (Lv 99-120).
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use for all high level combat when you don't require renewal/antifire/antipoison. 
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>1,200,000 coins from <a href="{% include url/wiki %}/Lady_Meilyr">Lady Meilyr</a>.</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/supreme-overload-salve.png"/>
			<a href="{% include url/wiki %}/supreme_overload_salve">
				Supreme Overload Salve
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				99
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Tier 2 all-in-one potion (Lv 99-118).
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use for all high level combat and crafting elder overload salves.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>1,000,000 coins from <a href="{% include url/wiki %}/Lady_Meilyr">Lady Meilyr</a>.</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/supreme-overload-potion.png"/>
			<a href="{% include url/wiki %}/supreme_overload_potion">
				Supreme Overload Potion
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				98
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Tier 2 multi-stat boosting potion (Lv 99-118).
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use for all high level combat and crafting supreme overload salves and elder overload potions.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>900,000 coins from <a href="{% include url/wiki %}/Lady_Meilyr">Lady Meilyr</a>.</p>
		</span>
	</li>

	<!-- ROW 5 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/supreme-strength-potion.png"/>
			<p>
				Supreme Potion<br>
				<a href="{% include url/wiki %}/supreme_attack_potion">
					<img src="/assets/img/game-icon/skill/attack.png"/>
				</a>
				<a href="{% include url/wiki %}/supreme_strength_potion">
					<img src="/assets/img/game-icon/skill/strength.png"/>
				</a>
				<a href="{% include url/wiki %}/supreme_defence_potion">
					<img src="/assets/img/game-icon/skill/defence.png"/>
				</a>
				<a href="{% include url/wiki %}/supreme_ranging_potion">
					<img src="/assets/img/game-icon/skill/ranged.png"/>
				</a>
				<a href="{% include url/wiki %}/supreme_magic_potion">
					<img src="/assets/img/game-icon/skill/magic.png"/>
				</a>
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				93
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>Tier 4 single stat boosting potion (Lv 99-118).</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use for all high level combat until you have access to supreme potions or salves.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>500,000 coins from <a href="{% include url/wiki %}/Lady_Meilyr">Lady Meilyr</a>.</p>
		</span>
	</li>

	<!-- ROW 6 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/overload-salve.png"/>
			<a href="{% include url/wiki %}/overload_salve">
				Overload Salve
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				97
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Tier 1 all-in-one potion (Lv 99-116).
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use for all mid level combat.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>800,000 coins from <a href="{% include url/wiki %}/Lady_Meilyr">Lady Meilyr</a>.</p>
		</span>
	</li>

	<!-- ROW 7 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/overload-potion.png"/>
			<a href="{% include url/wiki %}/overload_potion">
				Overload Potion
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				96
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Tier 1 multi-stat boosting potion (Lv 99-116).
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use for all mid level combat when you don't require renewal/antifire/antipoison. Ingredient for overload salves.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>Craft with herblore (untradable).</p>
		</span>
	</li>

	<!-- ROW 8 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/extreme-attack-potion.png"/>
			<p>
				Extreme Potion<br>
				<a href="{% include url/wiki %}/extreme_attack_potion">
					<img src="/assets/img/game-icon/skill/attack.png"/>
				</a>
				<a href="{% include url/wiki %}/extreme_strength_potion">
					<img src="/assets/img/game-icon/skill/strength.png"/>
				</a>
				<a href="{% include url/wiki %}/extreme_defence_potion">
					<img src="/assets/img/game-icon/skill/defence.png"/>
				</a>
				<a href="{% include url/wiki %}/extreme_ranging_potion">
					<img src="/assets/img/game-icon/skill/ranged.png"/>
				</a>
				<a href="{% include url/wiki %}/extreme_magic_potion">
					<img src="/assets/img/game-icon/skill/magic.png"/>
				</a>
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				88-92
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>Tier 3 single stat boosting potion (Lv 99-116).</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>Use for mid level slayer and crafting overloads.</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>Craft with herblore (untradable).</p>
		</span>
	</li>

	<!-- ROW 9 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/super-attack-potion.png"/>
			<p>
				Super Potion<br>
				<a href="{% include url/wiki %}/super_attack_potion">
					<img src="/assets/img/game-icon/skill/attack.png"/>
				</a>
				<a href="{% include url/wiki %}/super_strength_potion">
					<img src="/assets/img/game-icon/skill/strength.png"/>
				</a>
				<a href="{% include url/wiki %}/super_defence_potion">
					<img src="/assets/img/game-icon/skill/defence.png"/>
				</a>
				<a href="{% include url/wiki %}/super_ranging_potion">
					<img src="/assets/img/game-icon/skill/ranged.png"/>
				</a>
				<a href="{% include url/wiki %}/super_magic_potion">
					<img src="/assets/img/game-icon/skill/magic.png"/>
				</a>
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				45-76
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>Tier 2 single stat boosting potion (Lv 99-112).</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>Use for low level slayer and crafting extreme potions, supreme potions and supreme overload potions.</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>Craft with herblore (or buy off the G.E).</p>
		</span>
	</li>

	<!-- ROW 10 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/attack-potion.png"/>
			<p>
				Potion<br>
				<a href="{% include url/wiki %}/attack_potion">
					<img src="/assets/img/game-icon/skill/attack.png"/>
				</a>
				<a href="{% include url/wiki %}/strength_potion">
					<img src="/assets/img/game-icon/skill/strength.png"/>
				</a>
				<a href="{% include url/wiki %}/defence_potion">
					<img src="/assets/img/game-icon/skill/defence.png"/>
				</a>
				<a href="{% include url/wiki %}/ranging_potion">
					<img src="/assets/img/game-icon/skill/ranged.png"/>
				</a>
				<a href="{% include url/wiki %}/magic_potion">
					<img src="/assets/img/game-icon/skill/magic.png"/>
				</a>
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				1-9
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>Tier 1 single stat boosting potion (Lv 99-110).</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>Use for beginner level slayer and crafting super potions.</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>Craft with herblore (or buy off the G.E).</p>
		</span>
	</li>

</div>