<div class="Rtable Rtable--5cols Rtable--collapse">

	<!-- TITLES -->

	<!-- HEAD -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>
				Item
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10 Rtable-cell--head">
		<span>
			<p>
				<img src="/assets/img/game-icon/skill/herblore.png"/>Level
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25 Rtable-cell--head">
		<span>
			<p>
				Explanation
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25 Rtable-cell--head">
		<span>
			<p>
				Use
			</p>
		</span>
    </li>
    <!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>
				How to Get
			</p>
		</span>
	</li>

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/super-saradomin-brew-flask.png"/>
			<a href="{% include url/wiki %}/Super_saradomin_brew">
				Super Saradomin Brew Potion
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
                93
            </p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
                Instantly restores 1,300 health. Tempoarily debuffs
                <img src="/assets/img/game-icon/skill/attack.png"/><img src="/assets/img/game-icon/skill/strength.png"/><img src="/assets/img/game-icon/skill/magic.png"/><img src="/assets/img/game-icon/skill/ranged.png"/>
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
                Use to restore health without sacrificing adrenaline and DPS output.
			</p>
		</span>
    </li>
    <!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
				Craft with herblore (or buy off the G.E).
			</p>
		</span>
    </li>
    
    <!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/saradomin-brew-flask.png"/>
			<a href="{% include url/wiki %}/Saradomin_brew">
				Saradomin Brew Potion
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				81
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
                Instantly restores 1,000 health. Tempoarily debuffs
                <img src="/assets/img/game-icon/skill/attack.png"/><img src="/assets/img/game-icon/skill/strength.png"/><img src="/assets/img/game-icon/skill/magic.png"/><img src="/assets/img/game-icon/skill/ranged.png"/>
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use to restore health without sacrificing adrenaline and DPS output.
			</p>
		</span>
    </li>
    <!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
				Craft with herblore (or buy off the G.E).
			</p>
		</span>
    </li>

    <!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/super-guthix-rest-flask.png"/>
			<a href="{% include url/wiki %}/Super_guthix_rest">
				Super Guthix Rest Potion
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				93
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Poison cure and immunity (~30s), instant 650 HP heal and boost, +15% adrenaline.
            </p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use to cure poison when you're not using more powerful adrenaline potions (shares cooldown).
			</p>
		</span>
    </li>
    <!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
				Craft with herblore (or buy off the G.E).
			</p>
		</span>
    </li>

    <!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/guthix-rest-flask.png"/>
			<a href="{% include url/wiki %}/Guthix_rest">
				Guthix Rest Potion
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				18
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Poison cure and immunity, instant 500 HP heal and boost.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use to recover from poison.
			</p>
		</span>
    </li>
    <!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
				Craft with herblore (or buy off the G.E).
			</p>
		</span>
    </li>

</div>