<div class="Rtable Rtable--5cols Rtable--collapse">

	<!--TITLES-->

	<!-- Heading -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>Item</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10 Rtable-cell--head">
		<span>
			<p><img src="/assets/img/game-icon/skill/herblore.png"/>Level</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25 Rtable-cell--head">
		<span>
			<p>Explanation</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25 Rtable-cell--head">
		<span>
			<p>Use</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>How to Get</p>
		</span>
    </li>
    
    <!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell  Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/extreme-prayer-potion.png"/>
			<a href="{% include url/wiki %}/Extreme_prayer_potion">
				Extreme Prayer Potion
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				117
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Instantly restores 565 prayer points at level 99 prayer.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use to instantly boost your prayer when renewals aren't sustaining you.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>Craft with herblore (untradable).</p>
		</span>
    </li>

    <!-- ROW 2 -->

    <!-- col 1 -->
	<li class="Rtable-cell  Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/super-prayer-potion.png"/>
			<a href="{% include url/wiki %}/Super_prayer_potion">
				Super Prayer Potion
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				94
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Instantly restores 416 prayer points at level 99 prayer.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use to instantly boost your prayer when renewals aren't sustaining you.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>Craft with herblore (or buy from the G.E).</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell  Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/super-restore-potion.png"/>
			<a href="{% include url/wiki %}/Super_restore_potion">
				Super Restore Potion
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				63
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Instantly restores 327 prayer points at level 99 prayer. Also restores a portion of drained stats.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use in mid-high level combat to restore prayer and/or drained stats (as from saradomin brews).
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
                Craft with herblore (or buy from the G.E).
            </p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/prayer-potion.png"/>
			<a href="{% include url/wiki %}/Prayer_potion">
				Prayer Potion
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				38
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Instantly restores 317 prayer points at level 99 prayer.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use in low level combat when you don't have access to restores.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>Craft with herblore (or buy from the G.E).</p>
		</span>
	</li>

</div>