<div class="Rtable Rtable--5cols Rtable--collapse">

	<!--TITLES-->

	<!-- Heading -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>Item</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10 Rtable-cell--head">
		<span>
			<p><img src="/assets/img/game-icon/skill/herblore.png"/>Level</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25 Rtable-cell--head">
		<span>
			<p>Explanation</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25 Rtable-cell--head">
		<span>
			<p>Use</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>How to Get</p>
		</span>
    </li>
    
	<!-- ROW 1 -->
	
	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/potion/super-prayer-renewal-potion.png"/>
			<a href="{% include url/wiki %}/Super_prayer_renewal_potion">
				Super Prayer Renewal Potion
            </a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				94
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
                Instantly restores 317 prayer points, and restores 595 points at level 99 prayer.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use these in place of renewal potions when not using overload salves.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>Craft with herblore (untradable).</p>
		</span>
	</li>
    
    <!-- ROW 2 -->

    <!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
            <img src="/assets/img/game-icon/item/potion/prayer-renewal-potion.png"/>
			<a href="{% include url/wiki %}/Prayer_renewal_potion">
				Prayer Renewal Potion
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--10">
		<span>
			<p>
				96
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
                Restores 545 prayer points over time at level 99 prayer.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Use these when you aren't restoring prayer through a demon horn necklace.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>Craft with herblore (or buy off G.E).</p>
		</span>
	</li>

</div>