<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/item-use.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/aura/brawler_aura.png"/>
			<p>
				Brawler
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span>
			<p>Best Accuracy aura for Melee.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell melee">
		<span>
			<p>
			Bossing<br>
			Use when damage auras are on cooldown or you require accuracy.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell melee">
		<span>
			<p>
				Solomons' Store:<br>
				4,250 / 16,750 / 29,000 / 57,000 LP.
			</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/aura/sharpshooter_aura.png"/>
			<p>
				Sharpshooter
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell ranged">
		<span>
			<p>Best Accuracy aura for Ranged.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span>
			<p>
			Bossing<br>
			Use when damage auras are on cooldown or you require accuracy.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell ranged">
		<span>
			<p>
				Solomons' Store:<br>
				4,250 / 16,750 / 29,000 / 57,000 LP.
			</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/aura/runic_accuracy_aura.png"/>
			<p>
				Runic Accuracy
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell magic">
		<span>
			<p>Best Accuracy aura for Magic.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell magic">
		<span>
			<p>
			Bossing<br>
			Use when damage auras are on cooldown or you require accuracy.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span>
			<p>
				Solomons' Store:<br>
				4,250 / 16,750 / 29,000 / 57,000 LP.
			</p>
		</span>
	</li>

</div>
