<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/item-use.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/gloves/cinderbane_gloves.png"/>
			<p>Cinderbane Gloves</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Applies poison to target. Try to combine with weapon poison.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>All creatures vulnerable to poison.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Slay Lost Grove creatures<br>(or buy off the G.E).</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/gloves/dominion_gloves.png"/>
			<p>Dominion Gloves</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Drains targets defensive stats. </p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Creatures with poison immunity, that can have their stats drained.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Various requirements; outlined on the Dominion Tower list of Requirements.</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/gloves/deathtouch_bracelet.png"/>
			<p>Deathtouch Bracelet</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Best in slot for DPS at Angel of Death.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Angel of Death.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Buy off the G.E OR Craft<br>(Costs 300 Reaper Points).</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/gloves/nightmare_gauntlets.png"/>
			<p>Nightmare Gauntlets</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell ranged">
		<span>
			<p>Highest DPS range gloves if target is poison immune & significant	dodging is required.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span>
			<p>When ranging creatures with poison & stat drain immunity.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell ranged">
		<span>
			<p>Kill Nightmares<br>(or buy off the G.E).</p>
		</span>
	</li>

</div>
