<!--
	SECTION BUTTONS
-->

<button type="button" class="Tab" onclick="show('section1');">High Tier Gizmos</button>
<button type="button" class="Tab" onclick="show('section2');">Mid Tier</button>
<button type="button" class="Tab" onclick="show('section3');">Entry Level</button>

<!--
	TABLE 1 - ANZIENT GIZMOS
-->

<div id="section1">

	<h3>High Tier Gizmos</h3>

	<p>
		The jump from mid tier to high tier is an expensive one. All these perks require a big chunk of GP and Ancient Gizmos.
		Biting 4 will increase your base damage even more so than Biting2, but at the expensive of Mobile. We instead add Mobile
		to Impatient 4, and accept the loss of Devotion's protection in exchange for more DPS. Upgrading Relentless3 > 5 increases
		our hopes of using no adrenaline when we're using our abilities!
	</p>

	<div class="Rtable Rtable--5cols Rtable--collapse">

		<!-- TITLES -->
	
		<!-- col 1 -->
		<li class="Rtable-cell Rtable-cell--head">
			<span>
				<p>Slot</p>
			</span>
		</li>
		<!-- col 2 -->
		<li class="Rtable-cell Rtable-cell--head">
			<span>
				<p>Gizmo 1</p>
			</span>
		</li>
		<!-- col 3 -->
		<li class="Rtable-cell Rtable-cell--head">
			<span>
				<p>Components</p>
			</span>
		</li>
		<!-- col 4 -->
		<li class="Rtable-cell Rtable-cell--head">
			<span>
				<p>Gizmo 2</p>
			</span>
		</li>
		<!-- col 5 -->
		<li class="Rtable-cell Rtable-cell--head">
			<span>
				<p>Components</p>
			</span>
		</li>
	
		<!-- ROW 1 -->
	
		<!-- col 1 -->
		<li class="Rtable-cell Rtable-cell--title">
			<span class="item">
				<img src="/assets/img/game-icon/item-slot/body.png"/>
				<p>Torso</p>
			</span>
		</li>
		<!-- col 2 -->
		<li class="Rtable-cell">
			<span class="perk">
				<img src="/assets/img/game-icon/perk/biting.png"/>
				<p>Biting 4</p>
			</span>
		</li>
		<!-- col 3 -->
		<li class="Rtable-cell">
			<span>
				<p>7 Noxious<br>1 Direct<br>5 Blade</p>
			</span>
		</li>
		<!-- col 5 -->
		<li class="Rtable-cell">
			<span class="perk">
				<img src="/assets/img/game-icon/perk/relentless.png"/>
				<p>Relentless 5</p>
				<img src="/assets/img/game-icon/perk/crackling.png"/>
				<p>Crackling 4</p>
			</span>
		</li>
		<!-- col 6 -->
		<li class="Rtable-cell">
			<span>
				<p>8 Vintage</p>
			</span>
		</li>
	
		<!-- ROW 2 -->
	
		<!-- col 1 -->
		<li class="Rtable-cell Rtable-cell--title">
			<span class="item">
				<img src="/assets/img/game-icon/item-slot/legs.png"/>
				<p>Legs</p>
			</span>
		</li>
		<!-- col 2 -->
		<li class="Rtable-cell">
			<span class="perk">
				<img src="/assets/img/game-icon/perk/impatient.png"/>
				<p>Impatient 4</p>
				<img src="/assets/img/game-icon/perk/mobile.png"/>
				<p>Mobile</p>
			</span>
		</li>
		<!-- col 3 -->
		<li class="Rtable-cell">
			<span>
				<p>-</p>
			</span>
		</li>
		<!-- col 4 -->
		<li class="Rtable-cell">
			<span class="perk">
				<img src="/assets/img/game-icon/perk/enhanced_devoted.png"/>
				<p>Enhanced Devoted 4</p>
			</span>
		</li>
		<!-- col 5 -->
		<li class="Rtable-cell">
			<span>
				<p>-</p>
			</span>
		</li>
	
	</div>

</div>

<!--
	TABLE 2 - MID TIER
-->

<div id="section2">

	<h3>Mid Tier Gizmos</h3>

	<p>
		Here, we make some big additions to the entry level setup - but will require Ancient Gizmos from Archaelogy.
		Adding mobile to our Biting 2 gizmo will allow us to utilise our surges/escapes far more frequently. Relentless3
		is a nice perk that is found pretty frequently alongside Crackling 4, and adds a chance for your abilities to not
		use any adrenaline. When making Impatient 4, I would recommend using the (linked) combination, as it gives a chance
		of Impatient 4 + Mobile, however it does cost a little more. You'll need to make these in the long run, however, so
		it's worth taking a chance now at getting it! For Magic: Invigorating is a great perk for magic set ups, but means we
		lose Enhanced Devoted. Here, you need to decide whether you want that little bit of extra protection, or more DPS. 			
	</p>

	<div class="Rtable Rtable--5cols Rtable--collapse">

		<!-- TITLES -->
	
		<!-- col 1 -->
		<li class="Rtable-cell Rtable-cell--head">
			<span>
				<p>Slot</p>
			</span>
		</li>
		<!-- col 2 -->
		<li class="Rtable-cell Rtable-cell--head">
			<span>
				<p>Gizmo 1</p>
			</span>
		</li>
		<!-- col 3 -->
		<li class="Rtable-cell Rtable-cell--head">
			<span>
				<p>Components</p>
			</span>
		</li>
		<!-- col 4 -->
		<li class="Rtable-cell Rtable-cell--head">
			<span>
				<p>Gizmo 2</p>
			</span>
		</li>
		<!-- col 5 -->
		<li class="Rtable-cell Rtable-cell--head">
			<span>
				<p>Components</p>
			</span>
		</li>
	
		<!-- ROW 1 -->
	
		<!-- col 1 -->
		<li class="Rtable-cell Rtable-cell--title">
			<span class="item">
				<img src="/assets/img/game-icon/item-slot/body.png"/>
				<p>Torso</p>
			</span>
		</li>
		<!-- col 2 -->
		<li class="Rtable-cell">
			<span class="perk">
				<img src="/assets/img/game-icon/perk/biting.png"/>
				<p>Biting 2</p>
				<img src="/assets/img/game-icon/perk/mobile.png"/>
				<p>Mobile</p>
			</span>
		</li>
		<!-- col 3 -->
		<li class="Rtable-cell">
			<span>
				<p>-</p>
			</span>
		</li>
		<!-- col 5 -->
		<li class="Rtable-cell">
			<span class="perk">
				<img src="/assets/img/game-icon/perk/relentless.png"/>
				<p>Relentless 3</p>
				<img src="/assets/img/game-icon/perk/crackling.png"/>
				<p>Crackling 4</p>
			</span>
		</li>
		<!-- col 6 -->
		<li class="Rtable-cell">
			<span>
				<p>-</p>
			</span>
		</li>
	
		<!-- ROW 2 -->
	
		<!-- col 1 -->
		<li class="Rtable-cell Rtable-cell--title">
			<span class="item">
				<img src="/assets/img/game-icon/item-slot/legs.png"/>
				<p>Legs</p>
			</span>
		</li>
		<!-- col 2 -->
		<li class="Rtable-cell">
			<span class="perk">
				<img src="/assets/img/game-icon/perk/impatient.png"/>
				<p>Impatient 4</p>
			</span>
		</li>
		<!-- col 3 -->
		<li class="Rtable-cell">
			<span>
				<p>-</p>
			</span>
		</li>
		<!-- col 4 -->
		<li class="Rtable-cell">
			<span class="perk">
				<img src="/assets/img/game-icon/perk/enhanced_devoted.png"/>
				<p>Enhanced Devoted 4</p>
				<p>OR</p>
				<img src="/assets/img/game-icon/perk/invigorating.png"/>
				<p>Invigorating 4</p>
			</span>
		</li>
		<!-- col 5 -->
		<li class="Rtable-cell">
			<span>
				<p>-</p>
			</span>
		</li>
	
	</div>
	
</div>

<!--
	TABLE 3 - ENTRY LEVEL
-->

<div id="section3">

	<h3>Entry Tier Gizmos</h3>

	<p>
		These are the bare essentials for PvM. Biting, Crackling, Impatient and Devoted are 4 fantastic perks - and all
		really accessible and affordable. Mid/High tier still include this perks - but at higher levels and in combination
		with other perks - which ultimately is what makes them more expensive too! This basic setup will make a big difference
		to your PvM experience. Biting and Crackling will increase your DPS. Impatient will help your adrenaline build up faster,
		and Enhanced Devotion will provide you with some nice protection from attacks occasionally. IMPORTANT: Biting 2 is harder
		to find at higher levels and often pairs itself up with Cautious, a perk we definitely do not want. The ideal level for Biting
		2 on its own is around level 45. If you're higher than this, go stand at God Wars entrance for a few minutes until you drop to
		level 45, then make the perk - it will increase its likelihood massively.				
	</p>

	<div class="Rtable Rtable--5cols Rtable--collapse">

		<!-- TITLES -->
	
		<!-- col 1 -->
		<li class="Rtable-cell Rtable-cell--head">
			<span>
				<p>Slot</p>
			</span>
		</li>
		<!-- col 2 -->
		<li class="Rtable-cell Rtable-cell--head">
			<span>
				<p>Gizmo 1</p>
			</span>
		</li>
		<!-- col 3 -->
		<li class="Rtable-cell Rtable-cell--head">
			<span>
				<p>Components</p>
			</span>
		</li>
		<!-- col 4 -->
		<li class="Rtable-cell Rtable-cell--head">
			<span>
				<p>Gizmo 2</p>
			</span>
		</li>
		<!-- col 5 -->
		<li class="Rtable-cell Rtable-cell--head">
			<span>
				<p>Components</p>
			</span>
		</li>
	
		<!-- ROW 1 -->
	
		<!-- col 1 -->
		<li class="Rtable-cell Rtable-cell--title">
			<span class="item">
				<img src="/assets/img/game-icon/item-slot/body.png"/>
				<p>Torso</p>
			</span>
		</li>
		<!-- col 2 -->
		<li class="Rtable-cell">
			<span class="perk">
				<img src="/assets/img/game-icon/perk/biting.png"/>
				<p>Biting 2</p>
			</span>
		</li>
		<!-- col 3 -->
		<li class="Rtable-cell">
			<span>
				<p>-</p>
			</span>
		</li>
		<!-- col 5 -->
		<li class="Rtable-cell">
			<span class="perk">
				<img src="/assets/img/game-icon/perk/crackling.png"/>
				<p>Crackling 3</p>
			</span>
		</li>
		<!-- col 6 -->
		<li class="Rtable-cell">
			<span>
				<p>-</p>
			</span>
		</li>
	
		<!-- ROW 2 -->
	
		<!-- col 1 -->
		<li class="Rtable-cell Rtable-cell--title">
			<span class="item">
				<img src="/assets/img/game-icon/item-slot/legs.png"/>
				<p>Legs</p>
			</span>
		</li>
		<!-- col 2 -->
		<li class="Rtable-cell">
			<span class="perk">
				<img src="/assets/img/game-icon/perk/impatient.png"/>
				<p>Impatient 3</p>
			</span>
		</li>
		<!-- col 3 -->
		<li class="Rtable-cell">
			<span>
				<p>-</p>
			</span>
		</li>
		<!-- col 4 -->
		<li class="Rtable-cell">
			<span class="perk">
				<img src="/assets/img/game-icon/perk/enhanced_devoted.png"/>
				<p>Enhanced Devoted 3</p>
			</span>
		</li>
		<!-- col 5 -->
		<li class="Rtable-cell">
			<span>
				<p>-</p>
			</span>
		</li>
	
	</div>

</div>