<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->
	
	{% include tables/_table_headings/item-list.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<p>92</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/armour/trimmed_masterwork_platebody.png"/>
			<p>Trimmed Masterwork</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/armour/elite_sirenic_hauberk.png"/>
			<p>Elite Sirenic</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/armour/elite_tectonic_robe_top.png"/>
			<p>Elite Tectonic</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<p>90</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/armour/malevolent_cuirass.png"/>
			<p>Malevolent</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/armour/sirenic_hauberk.png"/>
			<p>Sirenic</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/armour/tectonic_robe_top.png"/>
			<p>Tectonic</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<p>80</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/armour/torva_platebody.png"/>
			<p>Torva</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/armour/pernix_body.png"/>
			<p>Pernix</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/armour/virtus_robe_top.png"/>
			<p>Virtus</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
	  <span>
	    <p>70</p>
	  </span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
	  <span class="item">
	    <img src="/assets/img/game-icon/item/armour/bandos_chestplate.png"/>
	    <p>Bandos</p>
	  </span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
	  <span class="item">
	    <img src="/assets/img/game-icon/item/armour/armadyl_chestplate.png"/>
	    <p>Armadyl</p>
	  </span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
	  <span class="item">
	    <img src="/assets/img/game-icon/item/armour/garb_of_subjugation.png"/>
	    <p>Subjugation</p>
	  </span>
	</li>

</div>
