<div class="Rtable Rtable--5cols Rtable--collapse">

	<!-- TITLES -->
	
	{% include tables/_table_headings/perks.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/body.png"/>
			<p>Torso</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span class="perk">
				<img src="/assets/img/game-icon/perk/biting.png"/>
				<p>Biting 3</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>5 Noxious</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/crackling.png"/>
			<p>Crackling 2/3</p>
			<img src="/assets/img/game-icon/perk/lucky.png"/>
			<p>Lucky 1</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>4 Explosive</p>
			<p>1 Dextrous</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/legs.png"/>
			<p>Legs</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span class="perk">
				<img src="/assets/img/game-icon/perk/enhanced_devoted.png"/>
				<p>Enhanced Devoted 3</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>5 Faceted</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/impatient.png"/>
			<p>Impatient 3</p>
			<img src="/assets/img/game-icon/perk/devoted.png"/>
			<p>Devoted 2/3</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>5 Zamorak</p>
		</span>
	</li>

</div>
