<!-- col 1 -->
<li class="Rtable-cell Rtable-cell--head">
	<span>
		<p>Level Requirement</p>
	</span>
</li>
<!-- col 2 -->
<li class="Rtable-cell Rtable-cell--head">
	<span>
		<p>Melee</p>
	</span>
</li>
<!-- col 3 -->
<li class="Rtable-cell Rtable-cell--head">
	<span>
		<p>Ranged</p>
	</span>
</li>
<!-- col 4 -->
<li class="Rtable-cell Rtable-cell--head">
	<span>
		<p>Magic</p>
	</span>
</li>
