<!-- col 1 -->
<li class="Rtable-cell Rtable-cell--head">
	<span>
		<p>Item</p>
	</span>
</li>
<!-- col 2 -->
<li class="Rtable-cell Rtable-cell--head">
	<span>
		<p>Explanation</p>
	</span>
</li>
<!-- col 3 -->
<li class="Rtable-cell Rtable-cell--head">
	<span>
		<p>Use</p>
	</span>
</li>
<!-- col 4 -->
<li class="Rtable-cell Rtable-cell--head">
	<span>
		<p>How to Get</p>
	</span>
</li>
