img:before {
	content: '    ';
	display: block;
	position: absolute;
	height: 30px;
	width: 30px;
	background-image: url(../img/game-icon/null.png);
	background-color: $dark-blue;
	background-repeat: no-repeat;
	background-size: cover;
}

// Article images

img.left {
	width: 100%;
	height: auto;
	float: left;
}

img.center {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

img.right {
	width: 100%;
	height: auto;
	float: right;
}

img.error {
	max-width: 200px;
	height: auto;
	margin: 0 auto;
	display: block;
}

@media (max-width: $mobile-horizontal) {
	img.bottany-bot {
		max-height: 200px;
		width: auto;
		display: inline-block;
		clear: both;
		margin: 0 auto;
	}
}

.sidebar {
	img {
		min-width: 100%;
		height: auto;
	}
}

a > img:hover {
	box-shadow: $box-shadows;
}
