// Basic Text Style

body {
  color: $white;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

//	Headings

h1, h2, h3, h4, h5, h6 {
  color: $gold;
  font-family: cinzel;
  font-style: normal;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 15px;
}

h1 {
  font-size: 16pt;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: 15pt;
  font-weight: 400;
  line-height: 1.14;
}

h2:first-child { // Remove first h1 margin to position the heading at the top of the page.
  margin-top: 0px;
}

@media only screen and (max-width: $mobile-horizontal) {
  h2:first-child { // Add margin to the top of the first mobile h2 so it doesnt touch the image.
    margin-top: 25px;
  }
}

h3, h4, h5, h6 {
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.38;
  text-decoration: underline;
}

h4 {
  padding-left: 15px;
}

h5 {
  padding-left: 30px;
}

h6 {
  padding-left: 45px;
}

.title {
  padding: 10px 15px 10px 25px;
  max-width: 100%;
  max-height: 60px;
  line-height: 40px;

  border-color: $light-blue;
  border-style: solid;
  border-width: 5px 0 5px 0;
  border-image: $border 90;

  background-color: $dark-blue;
  background-image: $texture-title;
}

@media only screen and (max-width: $desktop) {

  .title {
    padding: 10px 0px 10px 0px;
    text-align: center;
  }
  
}

// Text

p, a {
  font-family: museo-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13pt;
  line-height: 1.4;
}

p {
  color: $white;
}

p.center {
  text-align: center;
}

a {
  text-decoration: none;
  color: $gold;
  text-decoration: underline;
}

a p:hover, a:hover {
  color: rgba(100, 160, 190, 1);
  text-shadow: $box-shadows;
}

// Markdown content

.content ul {
  font-size: 13pt;
  color: $white;
  line-height: 1.4;
}

.content ul li {
  margin-top: 1em;
}

// Nav

.stellarnav > ul > li > a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: museo-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10pt;
  color: #d3d3d3;
}

.stellarnav ul ul li a {
  text-transform: none;
  font-family: museo-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12pt;
  color: #d3d3d3;
}