<!doctype html>
<html lang="en">

	<head>

		{% include google-analytics-head.html %}

		<!-- Site Info -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ site.title }}</title>
		<meta name="description" content="{{ site.description }}"/>
		<meta name="keywords" content="runescape, pocketbook, rspocketbook, game guide, pvm, slayer, skills, invention"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel='icon' href='https://rspocketbook.com/assets/img/favicon.ico' type='image/x-icon'/>

		<!-- CSS -->
		<link rel="stylesheet" href="/assets/css/main.css?cb=123"/>
		<link rel="stylesheet" href="https://use.typekit.net/xcy0sgw.css">

	</head>

	<body>

		{% include google-analytics-body.html %}

		<!-- HEAD -->

		<header>

			{% include banner.html %}
		
			<nav class="stellarnav">
				{% if site.data.primary-nav.nav[0] %}
				<ul>
					 {% for item in site.data.primary-nav.nav %}
					 <li><a href='{{ item.url }}'>{{ item.title }}</a>
							{% if item.level_2_items[0] %}
							<ul>
								 {% for entry in item.level_2_items %}
								 <li><a href='{{ entry.url }}'>{{ entry.page }}</a>
										{% if entry.level_3_items[0] %}
										<ul>
											{% for subentry in entry.level_3_items %}
												<li><a href='{{ subentry.url }}'>{{ subentry.page }}</a></li>
											{% endfor %}
										</ul>
										{% endif %}
								 </li>
								 {% endfor %}
							</ul>
						 {% endif %}
					 </li>
					 {% endfor %}
				</ul>
				{% endif %}
			</nav>
		
		</header>
		
		<div class="heroImg">
		
			<div class="logo">{% include icons/logo.html %}</div>
		
		</div>

		<!-- BODY -->
		
		<div class="page">

			<section class="body-has-sidebar">
		
				<!-- QUICK LINKS -->
		
				<article class="container">
		
					<div class="title">
		
						<h1>{{ page.title }}</h1>
		
					</div>
		
					<div class="content">
		
						<div class="flex-container polaroid_container">

						<div class="col three">

						<a href="/equipment/armour/power" rel="noopener">
							<div class="polaroid">
								<img src="/assets/img/thumbnail/kindred-spirits.jpg" alt="Join our Discord community!">
								<div class="polaroid_container">
									<p>PvM Power Armour</p>
								</div>
							</div>
						</a>

						</div>

						<div class="col three">


							<a href="/equipment/weapons/primary" target="_blank" rel="noopener">
								<div class="polaroid">
									<img src="/assets/img/thumbnail/vindicta.jpg" alt="Our Patreon | Help keep the website running!">
									<div class="polaroid_container">
										<p>Weapons and Gizmos</p>
									</div>
								</div>
							</a>

						</div>

						<div class="col three">

							<a href="/guides/combat-tips" target="_blank" rel="noopener">
								<div class="polaroid">
									<img src="/assets/img/thumbnail/ghost-stories.jpg" alt="The official RuneScape news page.">
									<div class="polaroid_container">
										<p>Combat Tips</p>
									</div>
								</div>
							</a>

						</div>

					</div>

		
					</div>
		
				</article>
		
				<!-- ARTICLE 1 -->
		
				<article class="container">
		
					<div class="title">
		
						<h1>New to RS PocketBook?</h1>
		
					</div>
		
					<div class="content">
		
				  <div class="flex-container">
		
					<div class="col two">
					  <img class="left" src="/assets/img/thumbnail/ariane.jpg"/>
					</div>
		
							<div class="col two">
		
								{{ content }}
		
								</div>
		
						</div>
		
				</div>
		
				</article>
		
				<!-- Article 3 -->
		
				<article class="container">
		
					<div class="title">
		
						<h1>Returning to RuneScape?</h1>
		
					</div>
		
					<div class="content">
		
				  <div class="flex-container">
		
					<div class="col two">
					  <img class="left" src="/assets/img/thumbnail/land-out-of-time.jpg"/>
					</div>
		
							<div class="col two">
		
								<h2>Welcome back!</h2>
		
								<p>
									RuneScape has evolved a lot since the good old times. If you're a returning player, consider checking out some of the latest content.
									The Prifddinas and Menaphos city expansions requiring <a href="https://runescape.wiki/w/Plague%27s_End" target="_blank" rel="noopener">Plague's End</a>
									and <a href="https://runescape.wiki/w/Jack_of_Spades" target="_blank" rel="noopener">The Jack of Spade's</a> quests respectively can be a great place to start.
								</p>
		
								<p>
									The mining and smithing rework offers new tiers of gear and methods of training those skills. Higher levelled players may want to experiment with the Invention skill, adding powerful abilities called "gizmos" to their weapons and armour, before facing the series of new bosses and elite dungeons.
								</p>
		
								</div>
		
						</div>
		
				</div>
		
				</article>
		
			</section>
		
			<!-- Sidebar -->
		
			{% include sidebar.html %}
		
		</div>
		

		{% include footer.html %}

		<!-- SCRIPTS -->
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
		<script type='text/javascript' src='/assets/js/main.js?cb=123'></script>

		<!-- Stellar Nav -->
		<script type="text/javascript">
		jQuery(document).ready(function($) {
			jQuery('.stellarnav').stellarNav({
			theme: 'dark',
			breakpoint: 960,
			position: 'static',
			// phoneBtn: '',
			// locationBtn: ''
			});
		});
		</script>

	</body>
	
</html>