<!doctype html>
<html lang="en">

	<head>

		{% include google-analytics-head.html %}

		<!-- Site Info -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ site.title }}</title>
		<meta name="description" content="{{ site.description }}"/>
		<meta name="keywords" content="runescape, pocketbook, rspocketbook, game guide, pvm, slayer, skills, invention"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel='icon' href='https://rspocketbook.com/assets/img/favicon.ico' type='image/x-icon'/>

		<!-- CSS -->
		<link rel="stylesheet" href="/assets/css/main.css?cb=123"/>
		<link rel="stylesheet" href="https://use.typekit.net/xcy0sgw.css">

	</head>

	<body>

		{% include google-analytics-body.html %}

		<!-- HEAD -->

		<header>

			{% include banner.html %}
		
			<nav class="stellarnav">
				{% if site.data.primary-nav.nav[0] %}
				<ul>
					 {% for item in site.data.primary-nav.nav %}
					 <li><a href='{{ item.url }}'>{{ item.title }}</a>
							{% if item.level_2_items[0] %}
							<ul>
								 {% for entry in item.level_2_items %}
								 <li><a href='{{ entry.url }}'>{{ entry.page }}</a>
										{% if entry.level_3_items[0] %}
										<ul>
											{% for subentry in entry.level_3_items %}
												<li><a href='{{ subentry.url }}'>{{ subentry.page }}</a></li>
											{% endfor %}
										</ul>
										{% endif %}
								 </li>
								 {% endfor %}
							</ul>
						 {% endif %}
					 </li>
					 {% endfor %}
				</ul>
				{% endif %}
			</nav>
		
		</header>
		
		<div class="heroImg">
		
			<div class="logo">{% include icons/logo.html %}</div>
		
		</div>
		

		<!-- BODY -->

		<div class="page">

			<section class="body">
		
				<article class="container">
		
					<div class="title">
		
						<h1>Patch Notes: {{ page.title }}</h1>
		
					</div>
		
					<div class="content">
		
						{{ content }}
		
					</div>
		
				</article>
		
			</section>
		
		</div>

		{% include footer.html %}

		<!-- SCRIPTS -->
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
		<script type='text/javascript' src='/assets/js/main.js?cb=123'></script>
		<script type='text/javascript' src='/assets/js/armour.js?cb=123'></script>
		<script type='text/javascript' src='/assets/js/pagetabs.js?cb=123'></script>

		<!-- Stellar Nav -->
		<script type="text/javascript">
		jQuery(document).ready(function($) {
			jQuery('.stellarnav').stellarNav({
			theme: 'dark',
			breakpoint: 960,
			position: 'static',
			// phoneBtn: '',
			// locationBtn: ''
			});
		});
		</script>

	</body>

</html>