<div class="Rtable Rtable--4cols Rtable--collapse desktop">

	<!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--15 Rtable-cell--head">
    <span class="item">
      <p>Bar</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--10  Rtable-cell--head">
    <span class="item">
      <p>Quantity</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell Rtable-cell--15  Rtable-cell--head">
    <span class="item">
      <p>Page Link</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--60  Rtable-cell--head">
    <span class="item">
      <p>Primary Use</p>
    </span>
  </li>

  <!-- ROW 1 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--15 Rtable-cell--title">
    <span class="item">
      <p>Bar 1</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--10">
    <span class="item">
      <p>3-6</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell Rtable-cell--15">
    <span class="item">
      <p><a href="/guides/ability-bars/full_manual.html">Full Manual</a></p>
      <p><a href="/guides/ability-bars/revolution.html">Revolution</a></p>
      <p><a href="/guides/ability-bars/full-automatic.html">Automatic</a></p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--60">
    <span class="item">
      <p>Primary combat abilities.<br>(One per combat style and mode)</p>
    </span>
  </li>

  <!-- ROW 2 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--15 Rtable-cell--title">
    <span class="item">
      <p>Bar 2</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--10">
    <span class="item">
      <p>1</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell Rtable-cell--15">
    <span class="item">
      <p><a href="/guides/ability-bars/prayers-and-consumables.html">Bar 2</a></p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--60">
    <span class="item">
      <p>Prayers and consumables.</p>
    </span>
  </li>

  <!-- ROW 3 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--15 Rtable-cell--title">
    <span class="item">
      <p>Bar 3</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--10">
    <span class="item">
      <p>1</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell Rtable-cell--15">
    <span class="item">
      <p><a href="/guides/ability-bars/defensive-and-constitution.html">Bar 3</a></p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--60">
    <span class="item">
      <p>Defensive and constitution.</p>
    </span>
  </li>

  <!-- ROW 4 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--15 Rtable-cell--title">
    <span class="item">
      <p>Bar 4</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--10">
    <span class="item">
      <p>1</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell Rtable-cell--15">
    <span class="item">
      <p><a href="/guides/ability-bars/switches-and-sigils.html">Bar 4</a></p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--60">
    <span class="item">
      <p>Switches and sigils.</p>
    </span>
  </li>

  <!-- ROW 5 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--15 Rtable-cell--title">
    <span class="item">
      <p>Bar 5</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--10">
    <span class="item">
      <p>0-3</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell Rtable-cell--15">
    <span class="item">
      <p><a href="/guides/ability-bars/style-switches-and-utility.html">Bar 5</a></p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--60">
    <span class="item">
      <p>Combat style specific switches and additional abilities.</p>
    </span>
  </li>

</div>
